<html>
  <head>
    <title>Login</title>
    <style>
    body {
        background-image: url("https://iguana-idm.com/wp-content/uploads/iGuana-Digital-Library-e-Library-Internet-Library-Online-Library-Solution.jpg");
        background-size: cover;
        padding: 200px;
        border-bottom:2px solid transparent; 
        }
        form
        {
        width: 700px;
        height: 50;
        margin: 0 auto;
        background-repeat: no-repeat;
        background:rgba(0, 0, 0, 0.15);
        height: 85%;
        min-height: 80%;
        top: 0;
        left: 0;
        z-index: 99;
        text-align: center;
        text-transform: capitalize;
        border-bottom:2px solid transparent;
        padding-top: 0%;
        padding :0cm;
        } 
        p.form-title {

    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;}


    input
  { 
    width: 200px;
    height: 20px;
    margin-top: 25px;
    padding: 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    position: relative;
  } 
  .wrap {
    width: 85%;
    height: 20%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(226, 188, 118, 0.66);
    border-bottom: 2px solid transparent;
    padding-top: 0%;
    padding: 0cm;
}
    </style>
  </head> 
<body>
<div class="alert alert-danger" *ngIf="msgErreur">
    {{msgErreur}} 
   </div>
   <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
            </div>
            <div class="wrap">
                <p class="form-title">
                    <b>Inscrivez-vous !</b></p>
   <form #f="ngForm" (ngSubmit)="verifier(f)">
 <div class="formulaire">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <p style="color: aliceblue;">Cin</p><input type="number" name="cin" ngModel></div>
            <div class="col-xs-6 col-md-6">
                <p style="color: aliceblue;">Nom</p> <input type="text" name="nom" ngModel></div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <p style="color: aliceblue;">Prenom</p> <input type = "text" name="prenom" ngModel></div>
                    <div class="col-xs-6 col-md-6">
                        <p style="color: aliceblue;">Email</p> <input type = "text" name="email" ngModel></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <p style="color: aliceblue;">Password</p> <input type = "password" name="password" ngModel></div>
                            <div class="col-xs-6 col-md-6">
                                <p style="color: aliceblue;">login</p> <input type = "text" name="login" ngModel><br></div><br>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <p style="color: aliceblue;">Adresse</p> <input type = "text" name="adresse" ngModel><br></div>
                                    <div class="col-xs-6 col-md-6">
                                        <p style="color: aliceblue;">Telephone</p> <input type = "number" name="telephone" ngModel><br></div>
                                    </div>
    
    
</div>
 <br>
    <button style="    
    color:aliceblue;
    background-color: rgb(0, 0, 0);
    width: 40%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;" type="submit">Inscrit</button>
</form>
</div>
</div>
</div>
</div>
</body>
