<!--<table border=1>
    <tr>
    <th>CIN</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>EMAIL</th>
    <th>PASSWORD</th>
    <th>LOGIN</th>
    <th>ADRESSE</th>
    <th>TELEPHONE</th>
    </tr>
   <tr *ngFor="let u of lecteurs">
    <td>{{u.cin}}</td>
    <td>{{u.nom}}</td>
    <td>{{u.prenom}}</td>
    <td>{{u.email}}</td>
    <td>{{u.password}}</td>
    <td>{{u.login}}</td>
    <td>{{u.adresse}}</td>
    <td>{{u.telephone}}</td>
    </tr>
    </table>-->
