<div style="text-align:center">
    <h1 style="color: blueviolet;" >Sciences & médecine
    </h1>
    <p>Dans cette catégorie : les ouvrages scientifiques, qu'ils soient destinés aux spécialistes ou au grand public. </p></div>
    <div class="card-deck">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/9.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Guide critique de l'évolution</h4>
            <p class="card-text">La première édition du Guide critique de l'évolution s'est vite imposée - notamment auprès des enseignants de SVT - comme l'ouvrage de référence pour comprendre le cadre scientifique, épistémologique et historique de la théorie de l'évolution.
                 Cette seconde édition a été conçue pour prendre en compte les nombreuses avancées scientifiques qui, depuis plus de 10 ans, ont fait progresser nos connaissances sur l'évolution du monde vivant.</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/10.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Tu comprendras ta douleur </h4>
            <p class="card-text">Comprendre la douleur est le premier pas pour s’en libérer. Or c’est un domaine complexe, dont les mécanismes varient selon qu’elle est utile, passagère, chronique, invalidante… et dont le ressenti est intime et propre à chaque individu.
                D’où l’importance de faire le point sur la douleur, ses fonctions, ses remèdes, mais aussi sur ce qu’on n’aborde jamais ou presque : les préjugés, les inégalités, les insuffisances, les brutalités.
                </p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:100px">
          <img class="card-img-top" src="assets/image/3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Nourrir la planète: Deyrolle pour l'avenir </h4>
            <p class="card-text">
                A l'heure où l'écologie est une préoccupation majeure, notre alimentation et notre santé sont au coeur des débats. Que savons-nous réellement du contenu de notre assiette ? Dans cet ouvrage, Deyrolle propose de réunir les points de vue à travers une cinquantaine de planches emblématiques de la maison,
                 dont certaines inédites. Toutes sont accompagnées de contributions écrites par des experts et personnalités d'horizons variés.
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
      </div>
