body{
    padding: 30px;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }
  .image-parent {
    max-width: 40px;
  }
  ul {
    list-style: none;
    text-align: center;
}
.div{
    padding: 30px;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
