<html >
  <head>
    <title>Login</title>
    <style>
      body {
        background-image: url("https://iguana-idm.com/wp-content/uploads/iGuana-Digital-Library-e-Library-Internet-Library-Online-Library-Solution.jpg");
        background-size: cover;
        padding: 350px;
        border-bottom:2px solid transparent; }
    
      .container{
    width: 100%;
    height: 300%;
    min-height: 80%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    border-bottom:2px solid transparent;
    padding-top: 0%;
    padding :0cm;
      }

    form{width: 300px;
        height: 50;
        margin: 0 auto;
        background-repeat: no-repeat;
        background:rgba(0, 0, 0, 0.15);
        height: 85%;
        min-height: 80%;
        top: 0;
        left: 0;
        z-index: 99;
        text-align: center;
        text-transform: capitalize;
        border-bottom:2px solid transparent;
        padding-top: 0%;
        padding :0cm;} 
        p.form-title {

        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        margin-top: 5%;
        text-transform: uppercase;
        letter-spacing: 4px;}
input
  { 
    width: 300px;
    height: 20px;
    margin-top: 15px;
    padding: 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    position: relative;

  } 
  .wrap {
    width: 150%;
    height: 20%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(226, 188, 118, 0.66);
    border-bottom: 2px solid transparent;
    padding-top: 0%;
    padding: 0cm;
}

    </style>
  </head> 
<body>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-danger" *ngIf="erreur==1">
                <strong>login ou mot de passe erronés..</strong>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pr-wrap">
                        </div>
                        <div class="wrap">
                            <p class="form-title">
                                <b>Bienvenue !</b></p>
            <form>
                <div class="form-group">
                    <label style="color: rgb(255, 255, 255);">Email :</label>
                    <input type="text" name="Email" class="form-control" [(ngModel)]="utilisateur.email">
                </div>
                <div class="form-group">
                    <label style="color: rgb(255, 255, 255);"> Mot de passe : </label>
                    <input type="password" name="password" [(ngModel)]="utilisateur.password" class="form-control" >
                </div>
                <div class="row justify-content-md-center">
                    <button style="  background-color: black;
                    width: 50%;
                    border: 0;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-top: 10px;
                    outline: 0;
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: background-color 0.5s ease;"  type="button" (click)="onLoggedin()" class="btn btn-success">Se Connecter</button><br>
                </div><br>
                <div class="row justify-content-md-center">
                    <form action="http://localhost:4200/#/inscription">
                    <button style=" 
                    background-color: black;
                    width: 80%;
                    border: 0;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-top: 10px;
                    outline: 0;
                    cursor: pointer;
                    letter-spacing: 1px;
                    transition: background-color 0.5s ease;" type="button" type="submit" class="btn btn-success">Creer votre compte</button>
                    </form>
                </div>
                
            </form>
        </div>
    </div>
    </div>
    </div>
        </div>
    </div>
</div>

</body>
</html>