
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="text-align: center">List Livres</h2>
    </div>
    <div class="panel-body">
      <div class="form-group">
      <button (click)="ajouter()" mat-flat-button color="primary" style="width:50%; height:100%">Ajouter livre </button>
      </div>


      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">rubrique</th>
            <th scope="col">Nom</th>
            <th scope="col">numSerie</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of livres">
            <td>{{u.rubrique}}</td>
            <td>{{u.nom}}</td>
            <td>{{u.numSerie}}</td>
            <td>
                <td><button (click)="deleteLivre(u.numSerie)" class="btn btn-danger">Delete</button>
                    <button (click)="toUpdate(u.numSerie)" class="btn btn-info" style="margin-left: 10px"  >

                        Update</button>
            </td>

          </tr>

        </tbody>
      </table>



    </div>
  </div>

