<div style="text-align:center">
    <h1 style="color: blueviolet;" > Informatique et Internet</h1>
</div>
    <div class="card-deck">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/7.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Je crée mon site avec WordPress</h4>
            <p class="card-text">Vous souhaitez créer votre site web mais sans écrire une ligne de code ? Ce livre 100 % pratique, ni basique ni trop avancé, vous expliquera comment réussir votre projet avec l'outil gratuit WordPress.
                Simple et clair, il vous expliquera toutes les étapes de réalisation d'un site web : hébergement, nom de domaine, design, sauvegarde, maintenance, référencement, promotion... Grâce à WordPress, plus besoin d'être développeur pour créer soi-même son site !</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:300px">
          <img class="card-img-top" src="assets/image/8.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">HTML5 et CSS3 - Maîtrisez les standards de la création de sites web</h4>
            <p class="card-text">Ce livre sur le langage HTML5 (en version 5.2 au moment de l'écriture) et les feuilles de styles CSS3, langages fondateurs dans la création de sites web, s'adresse aux développeurs qui souhaitent disposer des connaissances nécessaires pour créer et faire évoluer des sites web dans le respect des bonnes pratiques.
            </p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
        <div class="card" style="width:100px">
          <img class="card-img-top" src="assets/image/3.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Python pour les Nuls</h4>
            <p class="card-text"> Un livre idéal pour serpenter pas à pas dans l'univers de la programmation en Python.
                Ce livre permettra à tous les programmeurs débutants ou les étudiants en informatique de découvrir les bases de la programmation en Python, un langage qui peut-être utilisé seul ou avec un autre langage comme le C par exemple. Couvre la version 3 de Python.</p>
            <a href="#" class="btn btn-primary">Acheter</a>
          </div>
        </div>
      </div>
